@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";


body {
  font-family: "Roboto", sans-serif;
}


:root {
  /* Brand Colors */
  --brand-blue-alpha: #3447aaee;
  --brand-pink-alpha: #f3c9d6ee;

  /* Base Colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Gradients */

  --main-gradient: linear-gradient(
    135deg,
    var(--brand-blue-alpha) 0%,
    var(--brand-pink-alpha) 100%
  );
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
    font-family: "Roboto", sans-serif;
}
.hero-gradient {
  background: linear-gradient(
    90deg,
    #f39baba6 0%,
    #2c42af99 100%
  );
}

.main-text-color {
  color:#3447aaee;
}
.main-bg-color {
  background-color:#3447aaee;
}

.main-gradient {
  background: linear-gradient(
    135deg,
    #3447AADE 0%,
    #F6E3E7D6 100%
  );
}
/* Soft cold background behind image */
.image-soft-bg {
  background:
    radial-gradient(
      circle at top right,
      rgba(101, 109, 252, 0.11),
      transparent 60%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(246, 227, 231, 0.35),
      transparent 65%
    ),
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.9),
      rgba(245, 247, 255, 0.9)
    );
}


.soft-bg {
  background:
    radial-gradient(circle at 20% 20%, rgba(168, 85, 247, 0.25), transparent 50%),
    radial-gradient(circle at 80% 30%, rgba(59, 130, 246, 0.22), transparent 55%),
    radial-gradient(circle at 50% 90%, rgba(99, 102, 241, 0.18), transparent 60%);
}