@import "tailwindcss";


:root {
  /* Brand Colors */
  --brand-blue-alpha: #3447aaee;
  --brand-pink-alpha: #f3c9d6ee;

  /* Base Colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Gradients */
  --hero-gradient: linear-gradient(
    135deg,
    var(--brand-pink-alpha) 0%,
    var(--brand-blue-alpha) 100%
  );

  --main-gradient: linear-gradient(
    135deg,
    var(--brand-blue-alpha) 0%,
    var(--brand-pink-alpha) 100%
  );
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-gradient {
  background: linear-gradient(
    90deg,
    var(--brand-pink-alpha) 0%,
    var(--brand-blue-alpha) 100%
  );
}
