@import "tailwindcss";



:root {
  /* Brand Colors */
  --brand-blue-alpha: #3447aaee;
  --brand-pink-alpha: #f3c9d6ee;

  /* Base Colors */
  --background: #ffffff;
  --foreground: #171717;

  /* Gradients */

  --main-gradient: linear-gradient(
    135deg,
    var(--brand-blue-alpha) 0%,
    var(--brand-pink-alpha) 100%
  );
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
.hero-gradient {
  background: linear-gradient(
    90deg,
    #f39baba6 0%,
    #2c42af99 100%
  );
}

.main-text-color {
  color:#3447aaee;
}

/* Custom scrollbar for notification panel */
.scrollbar-notifications {
  scrollbar-width: thin;
  scrollbar-color: #cbd5ff transparent;
}

.scrollbar-notifications::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-notifications::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-notifications::-webkit-scrollbar-thumb {
  background-color: #cbd5ff;
  border-radius: 9999px;
}

.scrollbar-notifications::-webkit-scrollbar-thumb:hover {
  background-color: #9aa5ff;
}
/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

/* Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}
